*{
  font-family: "Poppins", sans-serif;
}
.h-font{
  font-family: "Merienda", cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}
.custom-bg{
  background-color: #5a00a3;
  border: 1px solid #5a00a3;
}
.custom-bg:hover{
  background-color: #3a0069;
  border-color: #3a0069;
}